:root {
    /* Neutrales y tierras */
    --sand: #d1b187;
    --terra-cotta: #c77b58;
    --burnt-sienna: #ae5d40;
    --mahogany: #79444a;
    --deep-brown: #4b3d44;

    /* Complementarios y acentos */
    --gold: #ba9158;
    --mustard: #927441;
    --olive-drab: #4d4539;
    --moss-green: #77743b;
    --sage: #b3a555;

    /* Suaves y pastel */
    --beige: #d2c9a5;
    --sea-foam: #8caba1;
    --teal-green: #4b726e;

    /* Grises y neutros */
    --smoky-grey: #574852;
    --taupe: #847875;
    --dusty-rose: #ab9b8e;
}
/* Tema Claro */
[data-theme='light'] {
    --background-color: var(--beige); /* Fondo más claro para el Header */
    --body-background-color: transparent; /* Fondo más claro para el cuerpo de la página */
    --text-color: var(--deep-brown); /* Texto oscuro para contraste */
    --accent-color: var(--terra-cotta); /* Color de acento */
    --border-color: var(--mustard); /* Color para bordes o elementos de UI */
}

/* Tema Oscuro */
[data-theme='dark'] {
    --background-color: var(--smoky-grey); /* Fondo oscuro para el Header */
    --body-background-color: transparent; /* Fondo más oscuro para el cuerpo de la página */
    --text-color: var(--beige); /* Texto claro para contraste */
    --accent-color: var(--teal-green); /* Color de acento */
    --border-color: var(--sea-foam); /* Color para bordes o elementos de UI */
}

/* index.css */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url('./assets/back.jpg'); /* Imagen de textura de papel */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply; /* Modo de mezcla */
}
a {
    color: var(--accent-color); /* Aplica el color de acento a los enlaces */
    text-decoration: none; /* Opcional: elimina el subrayado de los enlaces */
}

a:hover,
a:focus {
    color: darken(
        var(--accent-color),
        10%
    ); /* Oscurece el color al pasar el mouse o enfocar */
    text-decoration: underline; /* Opcional: añade subrayado al pasar el mouse o enfocar */
}
