:root {
    /* Neutrales y tierras */
    --sand: #d1b187;
    --terra-cotta: #c77b58;
    --burnt-sienna: #ae5d40;
    --mahogany: #79444a;
    --deep-brown: #4b3d44;

    /* Complementarios y acentos */
    --gold: #ba9158;
    --mustard: #927441;
    --olive-drab: #4d4539;
    --moss-green: #77743b;
    --sage: #b3a555;

    /* Suaves y pastel */
    --beige: #d2c9a5;
    --sea-foam: #8caba1;
    --teal-green: #4b726e;

    /* Grises y neutros */
    --smoky-grey: #574852;
    --taupe: #847875;
    --dusty-rose: #ab9b8e;
}
/* Tema Claro */
[data-theme='light'] {
    --background-color: var(--beige); /* Fondo claro */
    --text-color: var(--deep-brown); /* Texto oscuro para contraste */
    --accent-color: var(--terra-cotta); /* Color de acento */
    --border-color: var(--mustard); /* Color para bordes o elementos de UI */
}

/* Tema Oscuro */
[data-theme='dark'] {
    --background-color: var(--smoky-grey); /* Fondo oscuro */
    --text-color: var(--beige); /* Texto claro para contraste */
    --accent-color: var(--teal-green); /* Color de acento */
    --border-color: var(--sea-foam); /* Color para bordes o elementos de UI */
}
