:root {
    --crimson-sunset: #e63946;
    --alabaster-glow: #f1faee;
    --morning-mist: #a8dadc;
    --ocean-depth: #457b9d;
    --midnight-wave: #1d3557;

    --sun-kissed-coral: #e99e75;
    --whispering-smoke: #bbaab8;
    --mystic-lavender: #776483;
    --twilight-magic: #44426e;
    --eclipse-shadow: #292643;

    --frosty-dawn: #e9f2f9;
    --espresso-velvet: #201c27;
}

@font-face {
    font-family: 'YourPrimaryFont';
    src: url('./assets/fonts/Comical.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YourImportantFont';
    src: url('./assets/fonts/LeapMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-theme='light'] {
    --const-black: var(--espresso-velvet);
    --const-white: var(--frosty-dawn);
    --background-color: var(--alabaster-glow);
    --text-color: var(--midnight-wave);
    --primary-color: var(--crimson-sunset);
    --secondary-color: var(--ocean-depth);
    --accent-color: var(--crimson-sunset);
    --error-color: var(--sun-kissed-coral);
    --success-color: var(--whispering-smoke);
    --link-color: var(--crimson-sunset);
    --border-color: var(--midnight-wave);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --body-background-color: var(--morning-mist);
}

[data-theme='dark'] {
    --const-black: var(--espresso-velvet);
    --const-white: var(--frosty-dawn);
    --background-color: var(--twilight-magic);
    --text-color: var(--whispering-smoke);
    --primary-color: var(--sun-kissed-coral);
    --secondary-color: var(--mystic-lavender);
    --error-color: var(--crimson-sunset);
    --success-color: var(--morning-mist);
    --accent-color: var(--sun-kissed-coral);
    --link-color: var(--sun-kissed-coral);
    --border-color: var(--whispering-smoke);
    --shadow-color: rgba(255, 255, 255, 0.1);
    --body-background-color: var(--eclipse-shadow);
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: 'YourPrimaryFont', sans-serif;
}
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: darken(var(--link-color), 10%);
    text-decoration: underline;
}

strong {
    font-family: 'YourImportantFont', serif;
    font-size: 1.3em;
    color: var(--primary-color);
    text-shadow: 2px 2px 0 var(--shadow-color);
}
